%h1
  Listing projects for
  %span.client=@client.name

%table.table
  %tr
    %th Name
    %th
    %th

  - @client.projects.each do |project|
    %tr
      %td.project= project.name
      %td= link_to 'Show', project_path(project)
      %td= link_to 'Edit', edit_project_path(project)
%br

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
\|
= link_to 'New Project', new_client_project_path(@client)
