%h1
  %span.project=@project.name
  (
  %span.client=link_to @project.client.name, client_path(@project.client)
  )

Total estimate:
%strong= time_diff_in_natural_language(@project.total_estimate)

%h3 Tasks

%table.table
  %tr
    %th Name
    %th Spent time
    %th Estimated time
    %th
    %th
    %th

  - @project.tasks.each do |task|
    %tr
      %td.task= task.name
      %td= time_diff_in_natural_language task.minutes_logged.minutes
      %td= time_diff_in_natural_language task.estimated_minutes.minutes
      %td= link_to 'Show logs', task_path(task)
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

=link_to 'Add Task', new_project_task_path(@project), class: 'btn'

%h3 Outsourced tasks

%table.table
  %tr
    %th Name
    %th Estimated cost (actual cost)
    %th Charged-out cost
    %th
    %th

  - @project.outsourced_tasks.each do |task|
    %tr
      %td.task= task.name
      %td
        = task.estimated_cost
        -if task.actual_cost
          ="(#{task.actual_cost})"
      %td= task.charged_to_client
      %td= link_to 'Edit', edit_outsourced_task_path(task)
      %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'Add Outsourced Task', new_project_outsourced_task_path(@project), class: 'btn'
\|
= link_to 'Edit Project', edit_project_path(@project)
\|
= link_to "Back to #{@project.client.name}", client_path(@project.client)


