%p#notice= notice

%h1
  Time logged for
  %span.task= @log.task.name

%p
  %b Notes:
  = @log.notes
%p
  %b Time minutes:
  = @log.time_minutes
%p
  %b Date:
  = @log.log_date.to_s

= link_to 'Edit', edit_log_path(@log)
\|
= link_to 'Back', task_path(@log.task)
